/*YUI css reset*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}
/*导航栏样式*/
body{
	background: #dedede;
	padding: 20px;
	padding-top: 80px;
}
.nav{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #333333;
}
.nav>img{
	margin-left: 20px;
}
.navLink{
	float: right;
	margin-right: 30px;
	height: 60px;
}
.navLink li{
	float: left;
	margin-left: 10px;
}
.navLink a{
	display: inline-block;
	font-size: 13px;
	color: #ffffff;
	height: 60px;
	line-height: 60px;
}



/*文章样式*/
.article{
	background: #ffffff;
	border: 1px solid #888888;
	box-shadow: 3px 3px 1px #555555;
	padding: 20px;
	padding-top: 40px;
	margin-bottom: 20px;
}
.article h2{
	font-size: 20px;
	font-weight: bold;
}
.article h3{
	font-size: 16px;
	font-weight: bold;
	color: #999999;
	margin-top: 20px;
}
.article span{
	display: inline-block;
	font-size: 12px;
	color: #999999;
	margin-top: 20px;
	margin-bottom: 20px;
}
.article p{
	text-indent: 2em;
	font-size: 16px;
	line-height: 30px;
}
.article img{
	margin: 20px 0 20px;
}
.article ul{
	padding: 20px;
}
.article li{
	display: block;
	height: 30px;
}
.article ol{
	padding: 0 0 0 20px;
}
table,th,td{
	border: 1px solid #888888;
	font-size: 14px;
	text-indent: 5px;
}
table{
	width: 100%;
}
tr{
	height: 30px;
}
tr.lasttr{
	background: #888888;
}
th{
	background: #333333;
	font-weight: bold;
	color: #ffffff;
}


/*图片板块样式*/
.picture{
	background: #ffffff;
	border: 1px solid #888888;
	box-shadow: 3px 3px 1px #555555;
	padding: 20px;
	padding-top: 40px;
	margin-bottom: 20px;	
}
.picture h2{
	font-size: 20px;
	font-weight: bold;
}
.littlePic{
	box-sizing: border-box;
	display: block;
	height: 125px;
	width: 120px;
	border: 1px solid #888888;
	margin: 20px;
	padding: 10px;
}
.littlePic p{
	font-size: 12px;
	text-align: center;
	margin-bottom: 10px;
}
.littlePic img{
	height: 80px;
	width: 100px;
}

/*侧栏样式*/
.sideBar{
	background: #ffffff;
	border: 1px solid #888888;
	box-shadow: 3px 3px 1px #555555;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 13px;
}
.sideBar h2{
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	border-left: 3px solid #888888;
	text-indent: 5px;
	margin-bottom: 20px;
}
.sideBar label{
	display: inline-block;
	width: 350px;
	text-align: right;
	margin: 20px 10px 0 0;
	height: 25px;
	line-height: 25px;
}
.sideBar textarea{
	position: relative;
	top:40px;
	height: 50px;
	width: 500px;
}
.submit{
	display: block;
	margin-top: 40px;
	width: 100%;
	height: 40px;
	background: #3355d0;
	border-radius: 5px;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
}

/*底部样式*/
.footer{
	position: absolute;
	left: 0;
	width: 100%;
	height: 50px;
	background: #333333;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding-top: 30px;
}